@media screen and (max-width: 480px) and (min-width: 240px) {

    body {
        margin: 0;
        padding: 0;
        border: 0;
        height: 100vh;
        width: 100%;
        background-color: #BABABA;
        display: block;
        
    }

    main {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-content: center;
        width: 100%;
        font-family: 'Shippori Mincho', serif;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #title > h1 {
        font-size: 3rem;
    }

    #title > h3 {
        font-size: 2rem;
    }

    #my-pic {
        width: 60%;
    }

    #kenny-paragraph {
        margin: 1.5em;
    }

    .project {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 3em;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #cccccc;
        border-radius: 20px;
    }

    .project-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #project-paragraph {
        margin: 3em;
        order: 3;
    }

    .video-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video {
        
        position: relative;
        width: 90%;
        margin:3em;
    }

    #links {
        margin-bottom: 4em;
        left: -4em;
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 100%;
        margin-right: 3em;
        border: 0;
        width: 100vw;
        justify-content: space-around;
        z-index: 3;
    }

    .link-img {
        height: 50px;
        width: auto;
        margin-right: auto;
        margin-left: auto;
        border: 0;
        top: 30px;
        color: #2B2929;
    }

    #icon-1 {
        border-radius: 3px;
    }
    #icon-2 {
        border-radius: 3px;
    }
    #icon-3 {
        border-radius: 45px;
    }
    #icon-cv {
        border-radius: 5px;
    }

    .link-img:hover {
        box-shadow: 1px 4px 20px rgba(255, 255, 255, 0.8);
        box-shadow: -1px -4px -10px rgba(255, 255, 255, 0.8);
    }
    .cv_tooltip {
        position: relative;
        display: inline-block;
    }

    .cv_tooltip .tooltiptext_cv {
        visibility: hidden;
        background-color: #007286;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        left: -68px;
        top: -35px;
        z-index: 1;
        width: 200px;

    }

    .cv_tooltip:hover .tooltiptext_cv {
        visibility: visible;
        
    }
    .cv_tooltip .tooltiptext_cv::after {
        content: " ";
        position: absolute;

        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #007286 transparent transparent transparent;
    }

    .email_tooltip {
        position: relative;
        display: inline-block;
    }

    .email_tooltip .tooltiptext_email {
        visibility: hidden;
        background-color: #007286;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        left: -68px;
        top: -35px;
        z-index: 1;
        width: 200px;

    }

    .email_tooltip:hover .tooltiptext_email {
        visibility: visible;
        
    }
    .email_tooltip .tooltiptext_email::after {
        content: " ";
        position: absolute;

        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #007286 transparent transparent transparent;
    }

    .github_tooltip {
        position: relative;
        display: inline-block;
    }

    .github_tooltip .tooltiptext_github {
        visibility: hidden;
        background-color: #007286;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        left: -68px;
        top: -35px;
        z-index: 1;
        width: 200px;

    }

    .github_tooltip:hover .tooltiptext_github {
        visibility: visible;
    }
    .github_tooltip .tooltiptext_github::after {
        content: " ";
        position: absolute;

        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #007286 transparent transparent transparent;
    }

    .linkedin_tooltip {
        position: relative;
        display: inline-block;
    }

    .linkedin_tooltip .tooltiptext_linkedin {
        visibility: hidden;
        background-color: #007286;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        left: -68px;
        top: -35px;
        z-index: 1;
        width: 200px;

    }

    .linkedin_tooltip:hover .tooltiptext_linkedin {
        visibility: visible;
    }
    .linkedin_tooltip .tooltiptext_linkedin::after {
        content: " ";
        position: absolute;

        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #007286 transparent transparent transparent;
    }

    #blank-space {
        top: 10em;
        margin: 5em;
        border: 0;
        flex-grow: 1;
        position: relative;
        background-color: transparent;
        height: 0.05em;
        width: 70%;
    }


}